{% extends 'template.html' %}
{% block title %}Home{% endblock %}
{% block views %}
{% load static %}
<script src={% static "jquery.js" %}></script>
<script>
$(document).ready(function(){
  $("#p1").click(function(){
  link = "https://api.myjson.com/bins/1dgwx4"
    $.ajax({url: link, success: function(result){
	$("#p1").text("");
	append="<a href="+result.clicked+">";
	append+="Logout</a>";
	
		$("#p1").append(append);
		
	}});
  });
});
</script>

{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!
  {% if user.skills %}
  <p>Tutor {{ user.skills }}!</p>
  {% else %} Tutee!
  {% endif %}
  <p id="p1"><font color=blue>Not you?</font>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login tutor</a>
  <p>Don't have an account yet?</p>
  <a href="{% url 'login' %}/../../signup">signup tutor</a>
{% endif %}
{% endblock %}
