{% extends 'template.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block views %}

<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {% for fields in form %}
    {{ fields.errors }}
    <div>
      {{ fields.label_tag }} <br> {{ fields }}
    </div>
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
{% endblock %}
