{% extends "template.html"%}

{% block views %}
	<h1 style="text-align:center; padding:5%;"> Lihat Jadwal </h1>
		  	<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Matkul</th>
		      <th scope="col">Hari</th>
		      <th scope="col">Jam Mulai</th>
		      <th scope="col">Jam Selesai</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for jadwal in object_list%}
			    <tr>
			      <th scope="row">{{forloop.counter}}</th>
				  <td>{{jadwal.matkul}}</td>
				  <td>{{jadwal.hari}}</td>
				  <td>{{jadwal.jam_mulai}}</td>
				  <td>{{jadwal.jam_selesai}}</td>
				 
			    </tr>
		    {% endfor %}

  </tbody>
{% endblock views %}
