{% extends 'template.html' %}

{% block views %}
{% if invalid_user %}
  <h1>You haven't log in yet</h1>
{% endif %}
<section class="col-md-12 align-center">
  <form class="form card align-center" method='POST' action="{% url 'buat_jadwal:buat' %}" style="background-color: #42e6a4; padding: 20px 35px; margin: 20px auto;">
    {% csrf_token %}
    {% for fields in form %}
        <div>
        {{ fields.errors }}
        </div>
        <div class="input-group m-3" style="margin: 5px">
        {{ fields.label_tag }}<br>
        {{ fields }}
        </div>
      {% endfor %}
      <input class='btn btn-primary' type='submit'>
  </form>
</section>
{% endblock views %}
