{% extends 'template.html' %}
{% load static %}

{% block specific_style %}
  <link href="{% static 'buat_jadwal/jadwal.css' %}" type="text/css" rel="stylesheet" >
{% endblock specific_style %}

{% block views %}
  <section class="container">
    {% if jadwals %}
      {% for jadwal in jadwals %}
        <div val="{{ jadwal.id }}" class="jadwal md-col-8 card" style="margin: 20px 10px; padding: 20px 35px; background-color: #42e6a4;">
          <h1>{{ jadwal.matkul }}</h1>
          <p>{{ jadwal.hari }}: {{ jadwal.jam_mulai }}--{{ jadwal.jam_selesai }}</p>
          <button value="{{ jadwal.id }}" class="btn btn-danger delete-jadwal" style="position: absolute; right: 10px;">Delete</button>
          <p class="accordion">yang ikut:</p>
          <div class="hideable">
            {% if jadwal.tutee %}
              {% for tutee in jadwal.tutee %}
                <p>{{ tutee.username }}</p>
              {% endfor %}
            {% else %}
              <p>Belum ada yang daftar</p>
            {% endif %}
          </div>
          {% csrf_token %}
        </div>
      {% endfor %}
    {% else %}
      <h1>Anda belum membuat jadwal</h1>
    {% endif %}
  </section>
{% endblock views %}

{% block scripts %}
    <script src="{% static 'buat_jadwal/jadwal.js' %}" ></script>
{% endblock scripts %}
